@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700,900|Dosis:800|Playfair+Display:400,400italic,900italic|Lora:700|Syncopate:700|Roboto+Condensed:300italic|Oswald:700);


*, *:after, *:before { box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

body {

	background-color: #182327;
	color: #1e1a1b;
	font-weight: 500;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*background-image: url("../img/bg.jpg") !important;*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-position: 45% 0%;

}
section{
	padding:0 !important;
	position: absolute;
}
/*.header {
display: table;
position: relative;
width: 100%;
height: 100%;
background: url(../img/bg.jpg) no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
}*/

/*
body{

background-image: url("../back1.png") !important;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-position: 45% 0%;
}*/


a {
	outline: none;
	color: #dd3e62;
	text-decoration: none;
}

a:hover {
	color: #1e1a1b;
}

a:focus {
	outline: none;
}

.hidden {
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
}


.logo{
	width: 190px;
	height: 240px;
	margin: 0% auto 0;
	background-image: url("http://placehold.it/190x240");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

/* Grid */
.grid__item {

	/*height: calc(100vh - 40px);*/

	/*height: 100vh;
	min-height: 460px;
	max-width: 100vw;
	background: #DDD;*/

	/*padding: 100px 0;*/
	z-index: 1;
	position: relative;
	text-align: center;
	/*display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-transform: translate3d(0,0,0);*/

}
.main-bind{
	z-index: 1;
	position: relative;
	text-align: center;
}

.grid__item p {
	font-size: 1.5em;
	font-weight: bold;
	color: #777;
}

/*.main-bind{
top:-50px;
}*/

.tagline{
	color: #EF5D93;
	font-weight: 700;
	margin: 3% auto 0;
	text-transform: uppercase;
}

.title{
	color: #EF5D93;
	font-size: 5em;
	font-weight: 700;
	margin: 0% auto 0;
	letter-spacing: 2px;
	text-transform: uppercase;
}




.background{
	position: absolute;
	z-index: 1000;
}

.left-bottom{
	width: 268px;
	height: 180px;
	background-image: url("http://2015.hackatbrown.org/static/img/svgtriangles/2bg_5_green-folded-triangleb.svg");
	margin-left: 10px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.middle{
	width: 160.8px;
	height: 120px;
	background-image: url("http://2015.hackatbrown.org/static/img/svgtriangles/2bg_1_green-backtoback-triangles.svg");
	top: 480px;
	margin-left: 268px;
	position: absolute;
	left: 0px;
	top:45%;
}

.right-bottom{
	width: 160.8px;
	height: 210px;
	background-image: url("http://2015.hackatbrown.org/static/img/svgtriangles/2bg_3_green-facing-triangles.svg");
	margin-left: 428.8px;
	bottom: 0px;
	right: 0px;
	position: absolute;
}

.down{
	width: 214.4px;
	height: 180px;
	background-image: url("http://2015.hackatbrown.org/static/img/svgtriangles/2bg_0_blue-staggered-triangles.svg");
	bottom: 50px;
	left: 0px;
	margin-right: 536px;
	position: absolute;
}

.right{

	width: 214.4px;
	height: 300px;
	background-image: url("http://2015.hackatbrown.org/static/img/svgtriangles/2bg_6_pink-symmetricaloverlapping-triangles.svg");
	top: 10px;
	right: 0px;
	margin-left: 589.6px;
	position: absolute;
}



.color-3 { background: transparent; }

.sponsers{
	height:100%;
	width:100%;
	background:#2c3e50;
	/*position:absolute;*/
}

.row{
	padding:30px 0px 30px 0px;
}

.card{
	margin:5px 5px 5px 5px;


}

.card-title {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 25px;
	font-weight: bold;
}
.card-body {
	font-size: 16px;
	line-height: 1.7;
	font-weight: 400;
}
.col-3{
	width:31%;
	display:inline-table;
	position: relative;
	min-height: 1px;
}
.faq_content{
	font-weight: bold;
}

@media only screen and (max-width: 750px)
{
	.col-3{
		width:100%;
		display:inline-block;
	}
	#style-3::-webkit-scrollbar
	{
		width: 2.5px !important;
		background-color: #111 !important;
	}

}


.sp-head{
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 1.8em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFF;
	font-family: 'Raleway', sans-serif;
}
.col-2{
	width:45%;
	display:inline-table;
	position: relative;
	min-height: 1px;
}
.col-3-sp{
	width:31%;
	display:inline-table;
	position: relative;
	min-height: 1px;
}
.col-4{
	width:23%;
	display:inline-table;
	position: relative;
	min-height: 1px;
}
.box{
	margin:2px 2px 2px 2px;
}

img{
	width:100%;
	heigth:auto;
}
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #111;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #111;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #F5F5F5;
}


/*
video {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
transform: translateX(-50%) translateY(-50%);
opacity:0.2;
background: url('../back.png') no-repeat;
background-size: cover;
transition: 1s opacity;
}

/*
@media screen and (max-width: 50em) {
.codrops-header {
padding: 3em 10% 4em;
}
.grid__item {
width: 100%;
}
}*/
