@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700,900|Dosis:800|Playfair+Display:400,400italic,900italic|Lora:700|Syncopate:700|Roboto+Condensed:300italic|Oswald:700);


*, *:after, *:before { box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

body {

	/*background: #fff;*/
	color: #1e1a1b;
	font-weight: 500;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url("../back1.png") !important;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 45% 0%;

}
/*
body{

background-image: url("../back1.png") !important;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-position: 45% 0%;
}*/


a {
	outline: none;
	color: #dd3e62;
	text-decoration: none;
}

a:hover {
	color: #1e1a1b;
}

a:focus {
	outline: none;
}

.hidden {
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
}


/* Grid */
.grid__item {

	/*height: calc(100vh - 40px);*/

	height: 100vh;
	min-height: 460px;
	max-width: 100vw;
	background: #DDD;

	/*padding: 100px 0;*/
	z-index: 1;
	position: relative;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-transform: translate3d(0,0,0);

}

.grid__item p {
	font-size: 1.5em;
	font-weight: bold;
	color: #777;
}


.color-3 { background: transparent; }

.sponsers{
	height:100%;
	width:100%;
	background:#2c3e50;
	/*position:absolute;*/
}

.row{
	padding:30px 0px 30px 0px;
}

.card{
	margin:5px 5px 5px 5px;


}

.card-title {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 25px;
	font-weight: bold;
}
.card-body {
	font-size: 16px;
	line-height: 1.7;
	font-weight: 400;
}
.col-4{
	width:31%;
	display:inline-table;
	position: relative;
	min-height: 1px;
}
.faq_content{
	font-weight: bold;
}

@media only screen and (max-width: 600px)
{
	.col-4{
		width:100%;
		display:inline-block;
	}
	#style-3::-webkit-scrollbar
	{
		width: 2.5px !important;
		background-color: #111 !important;
	}

}
section{
	padding:0 !important;
}

/*#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #111;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #111;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #F5F5F5;
}*/


/*
video {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
transform: translateX(-50%) translateY(-50%);
opacity:0.2;
background: url('../back.png') no-repeat;
background-size: cover;
transition: 1s opacity;
}

/*
@media screen and (max-width: 50em) {
.codrops-header {
padding: 3em 10% 4em;
}
.grid__item {
width: 100%;
}
}*/
