@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700,900|Dosis:800|Playfair+Display:400,400italic,900italic|Lora:700|Syncopate:700|Roboto+Condensed:300italic|Oswald:700);


*, *:after, *:before { box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

body {
	/*overflow: auto !important;*/
	background-color: #182327;
	background-color: #292249;
	color: #1e1a1b;
	font-weight: 500;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*background-image: url("../img/bg.jpg") !important;*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-position: 45% 0%;


}
section{
	padding:0 !important;

}
li{
	list-style:none;
	background-image:none;
	background-repeat:none;
	background-position:0;
}

a {
	outline: none;
	color: #dd3e62;
	text-decoration: none;
}

a:hover {
	color: #1e1a1b;
}

a:focus {
	outline: none;
}

.hidden {
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
}


.logo{
	width: 190px;
	height: 240px;
	margin: 0% auto 0;
	background-image: url("http://placehold.it/190x240");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

/* Grid */
.grid__item {
	z-index: 1;
	position: relative;
	text-align: center;

}
.main-bind{
	z-index: 1;
	position: relative;
	text-align: center;
	top:-30px;
}

.grid__item p {
	font-size: 1.5em;
	font-weight: bold;
	color: #777;
}

.tagline{
	color: white;
	font-weight: 700;
	margin: 3% auto 0;
	margin-top: 0px;
	text-transform: uppercase;

}

.title{
	color: #3498db;
	font-size: 5.4em;
	font-weight: 700;
	margin: 0% auto 0;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.hs{
	color:#3498db;
	text-align: center;
	font-weight: 900;
	-webkit-text-fill-color:#3498db; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 0.1px;
	-webkit-text-stroke-color: black;

}


.register{
	position: absolute;
	left:50%;
	margin-left: -75px !important;

}

.background{
	position: absolute;
	z-index: 1000;
}

.left-top{
	width: 268px;
	height: 180px;
	background-image: url("../img/top-left.svg");
	margin-left: 10px;
	position: absolute;
	left: 0px;
	top: -100px;
}

.middle{
	width: 160.8px;
	height: 120px;
	background-image: url("../img/middle.svg");
	top: 480px;
	margin-left: 268px;
	position: absolute;
	left: 10%;
	top:55%;
}

.right-bottom{
	width: 160.8px;
	height: 210px;
	background-image: url("../img/bottom-right.svg");
	margin-left: 380px;
	bottom: -30%;
	right: 10%;
	position: absolute;
}

.down{
	width: 214.4px;
	height: 180px;
	background-image: url("../img/bottom-left.svg");
	bottom: -30%;
	left: 10%;
	margin-right: 536px;
	position: absolute;
}

.right{

	width: 214.4px;
	height: 300px;
	background-image: url("../img/top-right.svg");
	top: -120px;
	right: 10%;
	margin-left: 500px;
	position: absolute;
}
.top{
	width: 214.4px;
	height: 300px;
	background-image: url("http://2015.hackatbrown.org/static/img/svgtriangles/1bg_1_fallback-color-dodge-orange-triangle.svg");
	background-repeat: no-repeat;
	top: -65%;
	left:40%;
	margin-right: 268px;
}



.color-3 { background: transparent; }

.sponsers{
	height:100%;
	width:100%;
	background:#2c3e50;
	/*position:absolute;*/
}

.row{
	padding:30px 0px 30px 0px;
}

.card{
	margin:5px 5px 5px 5px;


}

.card-title {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 25px;
	font-weight: bold;
}
.card-body {
	font-size: 16px;
	line-height: 1.7;
	font-weight: 400;
}
.col-3{
	width:31%;
	display:inline-table;
	position: relative;
	min-height: 1px;
}
.faq_content{
	font-weight: bold;
}

@media only screen and (max-width: 750px)
{
	.col-3{
		width:100%;
		display:inline-block;
	}
	#style-3::-webkit-scrollbar
	{
		width: 2.5px !important;
		background-color: #111 !important;
	}

}


.sp-head{
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 1.8em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFF;
	font-family: 'Raleway', sans-serif;
}
.col-2{
	width:45%;
	display:inline-table;
	position: relative;
	min-height: 1px;
}
.col-3-sp{
	width:31%;
	display:inline-table;
	position: relative;
	min-height: 1px;
}
.col-4{
	width:23%;
	display:inline-table;
	position: relative;
	min-height: 1px;
}
.box{
	margin:2px 2px 2px 2px;
}

img{
	width:100%;
	heigth:auto;
}
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #111;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #111;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #F5F5F5;
}

/*register*/
.button {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: absolute;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

.button--nuka {
	margin: 1em 2em;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--nuka.button--inverted {
	color: #37474f;
}
.button--nuka::before,
.button--nuka::after {
	content: '';
	position: absolute;
	border-radius: inherit;
	background: #2ecc71;
	z-index: -1;
}
.button--nuka::before {
	top: -4px;
	bottom: -4px;
	left: -4px;
	right: -4px;
	opacity: 0.2;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}
.button--nuka::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: scale3d(1.1, 1, 1);
	transform: scale3d(1.1, 1, 1);
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
}
.button--nuka::before,
.button--nuka::after {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--nuka.button--inverted::before,
.button--nuka.button--inverted::after {
	background: #fff;
}
.button--nuka:hover {
	color: #fff;
}
.button--nuka:hover::before {
	opacity: 1;
}
.button--nuka:hover::after {
	background-color: #37474f;
}
.button--nuka.button--inverted:hover::after {
	background-color: #7986cb;
}
.button--nuka:hover::after,
.button--nuka:hover::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.button--round-s {
	border-radius: 5px;
}
.button--text-thick {
	font-weight: 600;
}


.home-content {
    padding: 72px 0;
    max-width: 1000px;
    margin: 0 auto;
}
.schedule {
    line-height: 1.5;
}
.schedule {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0;
    border-spacing: 0;
}
.schedule tbody tr:nth-child(odd) {
    background-color: #3498db;
}

.schedule tr {
    margin: 0;
    padding: 0;
    border: 0;

}

.schedule tbody tr td:first-child {
    color: white;
    font-weight: 400;
    min-width: 150px;
}
.schedule tr td {
    padding: 14px;
    margin: 0;
    border: 0;
}

.schedule tbody tr td:nth-child(2) {
    min-width: 150px;
		color: black;
}

td{
	font-size: 1.2em;
}
th{
	font-size: 1.5em;
}
